ion-content.splash-container {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}

.splash-container {
  display: flex;
  justify-content: center; 
  align-items: center;  
  height: 100vh;         
  text-align: center;      
  padding: 0 50px;    
}

.splash-content {
  display: flex;
  flex-direction: column;     
  justify-content: center;   
  align-items: center;       
  height: 100%;               
  text-align: center;
  padding: 0 50px;          
}

.logo-text {
  font-size: 3rem; 
  font-weight: bold;
  
  background: linear-gradient(to bottom, #0000ff, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.conecta {
  font-weight: normal;
}
